.navbar{
   display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  
}

.navLogo{
    margin: 0;
}

.navlinks{
    list-style: none;
    display: flex;
    gap: 15PX;
}